@import url("https://fonts.cdn.apple.com/fonts/SFProDisplay-Regular.woff2");

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Helvetica,
    Arial, sans-serif;
  background-color: #f5f5f7;
  color: #1d1d1f;
}
html {
  scroll-behavior: smooth;
}
